extends layout

mixin appTile(app)
  .app-tile(id='tileApp-'+app, onClick='tapOnTileApp("'+app+'");')
    img(src='/res/img/logo/'+app, alt="")
    p.
      #{app}

block navbarcontent
  if authenticateAsAdministrator && adminSectionAvailable
    ul.nav.navbar-nav
      li: a(data-toggle="modal" data-target="#create-project-modal") 
        span.glyphicon.glyphicon-upload
        |  Create new project

block content

  .jumbotron
    .container-fluid
      .row
        .col-md-2
          img(src='/res/img/logo', style="max-width:100%;max-height:100%;width:auto;height:auto;display:block;")
        .col-md-10
          h1= settings.hello.title
          p= settings.hello.message
          p
            a.btn.btn-info(href='mailto:'+settings.contactEmail) More informations !



  .fluid-container
    - for (var appIndex = 0; appIndex < apps.length ; appIndex++)
      - var app = apps[appIndex];
      - if(appIndex % 3 == 0)
        .row
      .col-md-4
        +appTile(app)

  script(type='text/javascript').
    function tapOnTileApp(appName) {
      document.location = '/app/'+appName+'/index';
    }

  #create-project-modal.modal.fade(role="dialog")
    .modal-dialog: .modal-content
        .modal-header
          h1 Create a new project
        .modal-body
          form.form-horizontal#create-project-form
            .form-group.form-group-lg#create-project-fromgroup-appname
              label.col-sm-4.control-label(for="create-project-input-appname") Name
              .col-sm-8
                input#create-project-input-appname.form-control(type="text", placeholder="")
            .form-group.form-group-lg
              label.col-sm-4.control-label(for="create-project-input-password") Password
              .col-sm-8
                input#create-project-input-password.form-control(type="secure", name="password", placeholder="")
            .form-group.form-group-lg
              label.col-sm-4.control-label(for="create-project-input-image") Image
              .col-sm-8
                input#create-project-input-image(type="file", name="image")

        .modal-footer
          button.btn.btn-sm.btn-default(data-dismiss="modal") Cancel
          button.btn.btn-sm.btn-primary#create-project-modal-submit Submit

  script(type="text/javascript").
    $("#create-project-form").on('submit', function(event) {
      event.preventDefault();

      var appName = $('#create-project-input-appname').val();
      if(appName === '') {
        $("#create-project-fromgroup-appname").addClass("has-error");
        return;
      } 

      $.ajax({
        url: "/app/" + appName + "/create",
        type: "POST",
        data: new FormData(this),//$("#create-project-form").serialize(),
        success: function(result) {
          window.location.href = "/app/" + appName
        },
        contentType: false,
        processData: false
      });
    });


    $("#create-project-modal-submit").on('click', function() {
      $("#create-project-form").submit();
    });

