extends layout

block content
  #the-modal.panel.panel-default(style="max-width: 600px; min-width:320px; margin:0 auto")
    .panel-heading
      h1
        span.glyphicon.glyphicon-lock.pull-right
        | Protected


    .panel-body
      p The application store you want to access are <b>securised</b> by password.
      br
      form(method='POST')
        .form-group
          input.form-control.input-lg(type='password', name='token', autofocus, placeholder="Type the password...")
        p
          input.btn.btn-warning.btn-lg(type='submit', value="Submit !", style="width:100%")
