doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/res/css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="/js/bootstrap.js")
    script(src='/js/retina.min.js')

  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header()
          a.navbar-brand(href='/')
            img(src='/res/img/logo' style='height:2em; margin-top:-10px;margin-right:10px')
            | #{settings.storeName}

    .container-fluid(style="min-width:320px")
      block content
