doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/basic.css')
    link(rel='stylesheet', href='/css/dropzone.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/loader.css')
    link(rel='stylesheet', href='/res/css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="/js/bootstrap.js")
    script(src='/js/retina.min.js')
    script(src="/js/dropzone.js")
    script(src="/js/loader.js")
    script(src="/js/global.js")

  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container-fluid
        .navbar-header()
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar-admin-section")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/res/img/logo' style='height:2em; margin-top:-10px;margin-right:10px')
            | #{settings.storeName}
        .navbar-left
          block navbarcontent
        if adminSectionAvailable
          #navbar-admin-section.collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              if !authenticateAsAdministrator
                li: a#admin-logstate-button(href="/admin/login?fallback="+(fallbackParameters || currentLocation))
                  span.glyphicon.glyphicon-log-in
                  span.hidden-sm.hidden-lg.hidden-md#admin-logstate-text Log-in as Admin
              else 
                li: a#admin-logstate-button(href="/admin/logout?fallback="+currentLocation)
                  span.glyphicon.glyphicon-log-out
                  span.hidden-sm.hidden-lg.hidden-md#admin-logstate-text Log-out



    #body-content.container-fluid(style="min-width:320px")
      block content

    .footer
      div
        p(style='text-align:center')
          img(src="/res/img/logo")
          |  Powered by
          a(href="http://github.com/PeweeStore/Pewee") Pewee


    .modal.fade#loading-modal(role="dialog", data-backdrop="static", data-keyboard="false")
      //- .modal-dialog: .modal-content
        //- .modal-body
      .sk-spinner.sk-spinner-wave(style="color: white;")
        .sk-rect5
        .sk-rect4
        .sk-rect3
        .sk-rect2
        .sk-rect1
        .sk-rect1
        .sk-rect2
        .sk-rect3
        .sk-rect4
        .sk-rect5
        